doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title x-board
    link(rel='stylesheet', href='/stylesheets/root.css')
    link(rel='stylesheet', href='/stylesheets/error.css')
  body
    .max-ht
      #root
        h1 Something went wrong. Sorry...
