doctype html
html(lang='en')
  head
    script.
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Truecaller Blog -
    link(rel='stylesheet', href='/stylesheets/common.css')
  body
    .max-ht
      #root
    script(type='text/javascript', src='/bundle/bundle.js')
